<header id="header">
    <div class="wrap" id="nav">
        <div data-target="#navbar" data-tools="navigation-toggle" class="navigation-toggle navigation-toggle-black" style="display: none;">
            <span>Aksvrn.ru</span>
        </div>
        <div id="logo">
            <a href="/">
                <img src="/static/img/logo.png"/>
            </a>
        </div>
        <div id="navbar">
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="{{ url_for('products_search') }}">Продукты</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
            <ul id="user-area">
                <li>
                    <a href="#">Войти</a>
                </li>
            </ul>
        </div>
    </div>
</header>
