<a href="{{ url_for('taxonomy_product', id=product.id) }}" title="{{ product.name }}" style="text-decoration: none;">
    {% if not product.photo_small %}
        <img src="/media/photoes/{{ product.photo_small }}"/>
    {% else %}
        <img src="/static/img/product-128.png"/>
    {% endif %}
    <div>
    {% if product.name and product.name|length > 20 %}
        {{ product.get_view_name()[:17] }}...
    {% else %}
        {{ product.get_view_name() }}
    {% endif %}
    </div>
    <div>{{ product.retail_price }} руб</div>
</a>
