<form method="get" action="" class="forms">
    <label>
        Наименование
        <input type="text" name="term" class="width-75" value="{% if args.term %}{{ args.term }}{% endif %}"/>
    </label>
    <label>
        Цена
        <ul class="forms-inline-list">
            <li>
                <input type="text" name="retail_price_from" size="11" value="{% if args.retail_price_from %}{{ args.retail_price_from }}{% endif %}"/>
            </li>
                &#160;-&#160;&#160;<input type="text" name="retail_price_to" size="11" value="{% if args.retail_price_to %}{{ args.retail_price_to }}{% endif %}"/>
            </li>
        </ul>
    </label>
    <label for="country">
        Производитель
        <select class="width-50" name="vendor_">
            <option></option>
            {% for vendor in vendors %}
                <option value="{{ vendor.id }}">{{ vendor.name }}</option>
            {% endfor %}
        </select>
    </label>
    <p>
        <input type="submit" class="btn"/>
        <input type="reset"  class="btn"/>
    </p>
    {% include "psf.html" %}
</form>