<a href="{{ url_for('taxonomy_product', id=product.id) }}" title="{{ product.name }}" class="{% if not product.available %}unavailable {% endif %}" style="text-decoration: none;">
    {% if product.photo_small %}
        {% set photo_url = product.get_small_photo_url() %}
    {% else %}
        {% set photo_url = "/static/img/product-128.png" %}
    {% endif %}
    <img src="{{ photo_url }}" class="product_widget_photo_small"/>
    <div>
    {% if product.name and product.name|length > 20 %}
        {{ product.get_view_name()[:17] }}...
    {% else %}
        {{ product.get_view_name() }}
    {% endif %}
    </div>
    <div>{{ product.retail_price }} руб</div>
</a>
