{% if psf_args and vendors_filtered %}
    {#<form method="get" action="{{ url_for('products_search', **psf_args) }}" class="forms" style="background-color: #ececec;">#}
        <h3>В найденном</h3>
        <ul class="forms-list">
            {% for vendor in vendors_filtered %}
                <li>
                   <input type="checkbox" name="vendor" id="vendor-{{ vendor.id }}" value="{{ vendor.id }}" checked="checked"/>
                   <label for="vendor-{{ vendor.id }}">{{ vendor.name }}</label>
                </li>
            {% endfor %}
        </ul>
    {#
        <p>
            <input type="submit" class="btn" value="Фильтровать"/>
        </p>
    </form>#}
{% endif %}