<div>
    <p>
        <ul>
        {% for step in rubric_path %}
            <li><a href="{{ url_for('taxonomy_rubric', id=step.id) }}">{{ step.name }}</a></li>
        {% endfor %}
        </ul>
    </p>
    <h1>{{ rubric.name }}</h1>
    {% if rubric.desc %}
        <h2>{{ rubric.desc }}</h2>
    {% endif %}
    {% if subrubrics %}
        <h3>Подрубрики</h3>
        <ul>
            {% for subrubric in subrubrics %}
                <li>
                    <a href="{{ url_for('taxonomy_rubric', id=subrubric.id) }}">
                        {{ subrubric.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if products %}
        <h3>Продукты</h3>
        <ul>
            {% for product in products %}
                <li>
                    {{ product.name }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
