{% extends "base.html" %}

{% block page_title %}{{ product.get_view_name() }}{% endblock %}

{% block page_content %}
<div id="main">
    {% if root %}
        <nav class="navbar navbar-pills fullwidth navbar-pills-gray-example">
    	    <ul>
    	        {% for root in roots %}
    	            <li {% if root in rubric_path %}class="active"{% endif %}>
    	                <a title="{{ root.name }}" href="{{ url_for('taxonomy_rubric', id=root.id) }}">
    	                    {% if root.name|length < 12 %}
    	                        {{ root.name }}
    	                    {% else %}
    	                        {{ root.name[:9] }}...
    	                    {% endif %}
    	                </a>
    	            </li>
    	        {% endfor %}
    	    </ul>
        </nav>
    {% endif %}
    <div class="units-row">
        <div class="unit-30" style="overflow-x: auto; white-space: nowrap;">
            {% if rubric_path %}
                {% set axis=get_axis(rubric_path.0) %}
                {% include "rubric_axis.html" %}
            {% else %}
                <img src="/static/img/banner.png"/>
            {% endif %}
        </div>
        <div class="unit-70">
            <h1>{{ product.get_view_name() }}</h1>
            {% if product.desc %}
                <p>
                    {{ product.desc }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
