<a href="{{ url_for('taxonomy_product', id=product.id) }}" title="{{ product.name }}" class="{% if not product.available %}unavailable {% endif %}" style="text-decoration: none;">
    {% if product.photo_small %}
        {% set photo_url = product.get_small_photo_url() %}
    {% else %}
        {% set photo_url = "/static/img/product-128.png" %}
    {% endif %}
    <div class="photo_container" style="width: 128px; height: 128px;">
    <img src="{{ photo_url }}" class="photo product_widget_photo_small"/>
    </div>
    <div>
    {% set product_name = product.get_view_name() %}
    {% if product_name|length > 20 %}
        {{ product_name[:17] }}...
    {% else %}
        {{ product_name }}
    {% endif %}
    </div>
    <div>{{ product.retail_price }} руб</div>
</a>
