<nav class="breadcrumbs">
    <ul>
        <li>
            {% if not rubric %}
                <span>
            {% else %}
                <a href="{{ url_for('taxonomy_rubric') }}">
            {% endif %}
            Таксономия
            {% if not rubric %}
                </span>
            {% else %}
                </a>
            {% endif %}
        </li>
        {% for step in rubric_path %}
            <li>
                {% if rubric.id == step.id %}
                    <span>
                {% else %}
                    <a href="{{ url_for('taxonomy_rubric', id=step.id) }}">
                {% endif %}
                {{ step.name }}
                {% if rubric.id == step.id %}
                    </span>
                {% else %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
